// For search select
// @import "vue-select/src/scss/vue-select.scss";

h2 {
	font-size: 22px;
	line-height: 26px;
	font-style: normal;
	font-weight: normal;
}
span {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
}
.input {
	width: 306px;
}
.search-select {
	background-color: #e8e8e8 !important;
	width: 306px !important;
	// border-radius: 5px;
}
//// Временно

.v-application--wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}
