// For search select
// @import "vue-select/src/scss/vue-select.scss";
body {
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
}
h1 {
	font-weight: 500;
	font-size: 24px;
	line-height: 28px;
}
h2 {
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
}
span {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
}
small {
	font-size: 12px;
	line-height: 14px;
}
.input {
	width: 306px;
}
.search-select {
	background-color: #e8e8e8 !important;
	width: 306px !important;
}
//// Временно

.v-application--wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}
