.forgot-password {
	display: flex;

	align-items: center;
	justify-content: center;
	&__success {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
}
.reset-password {
	display: flex;

	align-items: center;
	justify-content: center;
}
