.forgot-password,
.reset-password,
.sign-in {
	display: flex;
	align-items: center;
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		a {
			text-decoration: none;
		}
	}

	h2 {
		text-align: center;
	}
	&__email {
		margin-top: 26px;
	}
}
.reset-password {
	&__password {
		margin-top: 26px;
	}
	&__password + &__password {
		margin-top: 0;
	}
}
.sign-in {
	&__login {
		margin-top: 26px;
	}

	&__button {
		margin-top: 14px;
	}
}
